<nav
  #stickyMenu
  [class.sticky]="sticky">
  <div class="logo">
    <img src="PC_Forge_Logo_White.png" alt="PC_Forge_Logo_White.png">
  </div>

  <div class="search">
    <input type="text" placeholder="Szukaj...">
    <select>
      <option>asdf</option>
      <option>qwerty</option>
    </select>
    <button>Szukaj</button>
  </div>

  <div class="account">
    <button>Koszyk</button>
    <button>Profil</button>
  </div>
</nav>

<div class="complete-menu">
  <p>Wykuj swój komputer</p>
</div>
