<nav
    #stickyMenu
    [class.sticky]="sticky">
    <a class="logo" href="/" (click)="hideAccountMenu()">
        <img src="PC_Forge_Logo_White.png" alt="PC_Forge_Logo_White.png">
    </a>

    <div class="search" (click)="hideAccountMenu()">
        <input type="text" id="search-input" placeholder="Szukaj produktów">
        <select (change)="setCategory($event)" class="category-select" name="category" id="category">
            <option value="">Wszystkie kategorie</option>
            <option value="processor">Procesory</option>
            <option value="motherboard">Płyty główne</option>
            <option value="memory">Pamięci operacyjne RAM</option>
            <option value="graphics_card">Karty graficzne</option>
            <option value="power_supply">Zasilacze komputerowe</option>
            <option value="pc_case">Obudowy</option>
            <option value="ssd">Dyski SSD</option>
            <option value="hdd">Dyski HDD</option>
            <option value="liquid_cooler">Chłodzenie cieczą</option>
            <option value="air_cooler">Chłodzenie powietrzem</option>
        </select>
        <div class="btn-background">
            <button type="button" (click)="searchItems()"><img src="icons/search-icon.png"></button>
        </div>
    </div>

    <div class="account">
        <button class="shopping-cart-btn" (click)="shoppingCart()"><img src="icons/cart-icon.png"></button>
        <div id="cart-item-count" *ngIf="cartItems.getCounter() > 0">{{ cartItems.getCounter() }}</div>
        <button class="profile-btn" (click)="showAccountMenu()"><img src="icons/profile-icon.png"></button>
    </div>
</nav>

<div class="hiding-menu" (click)="hideAccountMenu()">
    <p>Wykuj swój komputer</p>
    <div class="hiding-buttons">
        <a href="/category">
            <button>Kategorie</button>
        </a>
        <a href="/config/new">
            <button>Konfigurator</button>
        </a>
        <a href="/config_list">
            <button>Moje konfiguracje</button>
        </a>
    </div>
</div>

<div class="account-menu-background" [ngClass]="{visible: accountMenuVisible, invisible: !accountMenuVisible}"
     (click)="hideAccountMenu()"></div>

<div class="account-menu" [ngClass]="{ visible: accountMenuVisible, invisible: !accountMenuVisible}">
    <div class="account-info">
        <h3>{{ accountInfo.name }}</h3>
        <p>email: {{ accountInfo.email }}</p>
        <p>nr telefonu: {{ accountInfo.phoneNumber }}</p>
    </div>
    <div class="account-links">
        <a href="/orders">Moje zamówienia</a>
        <a href="/config_list">Zapisane konfiguracje</a>
    </div>
    <div class="danger-links">
        <a (click)="logout()">Wyloguj</a>
        <a (click)="deleteAccount()">Usuń konto</a>
    </div>
</div>
