@switch (product.category) {
    @case ("CPU") {
        <app-spec-table-cpu class="product-spec" [product]="product"></app-spec-table-cpu>
    }
    @case ("MB") {
        <app-spec-table-mb class="product-spec" [product]="product"></app-spec-table-mb>
    }
    @case ("RAM") {
        <app-spec-table-ram class="product-spec" [product]="product"></app-spec-table-ram>
    }
    @case ("CASE") {
        <app-spec-table-case class="product-spec" [product]="product"></app-spec-table-case>
    }
    @case ("AIR_COOLER") {
        <app-spec-table-air-cooler class="product-spec" [product]="product"></app-spec-table-air-cooler>
    }
    @case ("LIQUID_COOLER") {
        <app-spec-table-liquid-cooler class="product-spec" [product]="product"></app-spec-table-liquid-cooler>
    }
    @case ("GPU") {
        <app-spec-table-gpu class="product-spec" [product]="product"></app-spec-table-gpu>
    }
    @case ("SSD") {
        <app-spec-table-ssd class="product-spec" [product]="product"></app-spec-table-ssd>
    }
    @case ("HDD") {
        <app-spec-table-hdd class="product-spec" [product]="product"></app-spec-table-hdd>
    }
    @case ("PS") {
        <app-spec-table-power-supply class="product-spec" [product]="product"></app-spec-table-power-supply>
    }
}
