<table>
    <tr>
        <td>Producent</td>
        <td>{{ product.producer }}</td>
    </tr>
    <tr>
        <td>Kod producenta</td>
        <td>{{ product.producerCode }}</td>
    </tr>
    <tr>
        <td>Linia</td>
        <td>{{ product.line }}</td>
    </tr>
    <tr>
        <td>Typ pamięci</td>
        <td>{{ product.memoryType }}</td>
    </tr>
    <tr>
        <td>Pojemność łączna</td>
        <td>{{ product.totalCapacity }}</td>
    </tr>
    <tr>
        <td>Częstotliwość taktowania</td>
        <td>{{ product.frequency }}</td>
    </tr>
    <tr>
        <td>Liczba modułów</td>
        <td>{{ product.numberOfModules }}</td>
    </tr>
    <tr>
        <td>Opóźnienie zegara</td>
        <td>{{ product.latency }}</td>
    </tr>
    <tr>
        <td>Podświetlenie</td>
        <td>{{ product.lighting ? "Tak" : "Nie" }}</td>
    </tr>
</table>
