<app-header></app-header>
<div class="content">
    @for (order of orders; track order.id) {
        <div class="order">
            <div class="order-info">
                <h3>Zamówienie nr {{ order.id }}</h3>
                <p>Status zamówienia: <b>{{ order.orderStatus }}</b> - {{ order.orderStatusDescription }}</p>
                <p>Data złożenia: {{ order.orderDate }}</p>
                <p>Data doręczenia: {{ order.deliveryDate }}</p>
                <p>Liczba zamówionych produktów: {{ numberOfProductsInOrder(order) }}</p>
                <h3>Kwota łączna zamówienia: {{ Math.round(order.totalCost * 100) / 100 }} zł</h3>
                <div class="buttons">
                    <button type="button" *ngIf="cancellable(order)" (click)="cancelOrder(order)">Anuluj zamówienie
                    </button>
                    <button type="button" *ngIf="paymentRequired(order)" (click)="goToPayment(order)">Zapłać</button>
                </div>
            </div>
            <div class="order-products">
                <div class="item-list">
                    @for (product of order.orderedProducts; track product.productEan) {
                        <div class="item">
                            <div class="item-data">
                                <div class="image-wrapper" (click)="goToProduct(product.productEan)">
                                    <img [src]="getImgUrl(product)" alt="product-image">
                                </div>
                                <div class="item-info">
                                    <h5 (click)="goToProduct(product.productEan)">{{ product.productName }}</h5>
                                    <p>Liczba sztuk: {{ product.productQuantity }}</p>
                                </div>
                            </div>
                            <h4>{{ getProductSummaryPrice(product) }} zł</h4>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
