<section>
    <div class="filter_header">
        <h3>Socket</h3>
        <a (click)="deleteFilters(Params.SOCKET)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.SOCKET]) {
            @for (filter_option of filter[Params.SOCKET]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.SOCKET)"
                               [checked]="checkIfSelected(filter_option[0], Params.SOCKET)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.SOCKET].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.SOCKET)"
                               [checked]="checkIfSelected(filter_option[0], Params.SOCKET)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.SOCKET].length > 5"
           (click)="expandOptions[Params.SOCKET] = !expandOptions[Params.SOCKET]">
            {{ expandOptions[Params.SOCKET] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Model</h3>
        <a (click)="deleteFilters(Params.MODEL)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.MODEL]) {
            @for (filter_option of filter[Params.MODEL]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleCpuModel(filter_option[0])"
                               [checked]="modelSelected(filter_option[0])">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.MODEL].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleCpuModel(filter_option[0])"
                               [checked]="modelSelected(filter_option[0])">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.MODEL].length > 5"
           (click)="expandOptions[Params.MODEL] = !expandOptions[Params.MODEL]">{{ expandOptions[Params.MODEL] ? "zwiń" : "rozwiń wszystko" }}</a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Liczba rdzeni</h3>
        <a (click)="deleteFilters(Params.NUMBER_OF_CORES)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.NUMBER_OF_CORES]) {
            @for (filter_option of filter[Params.NUMBER_OF_CORES]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.NUMBER_OF_CORES)"
                               [checked]="checkIfSelected(filter_option[0], Params.NUMBER_OF_CORES)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.NUMBER_OF_CORES].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.NUMBER_OF_CORES)"
                               [checked]="checkIfSelected(filter_option[0], Params.NUMBER_OF_CORES)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.NUMBER_OF_CORES].length > 5"
           (click)="expandOptions[Params.NUMBER_OF_CORES] = !expandOptions[Params.NUMBER_OF_CORES]">
            {{ expandOptions[Params.NUMBER_OF_CORES] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Częstotliwość taktowania</h3>
        <a (click)="deleteFilters(Params.CPU_FREQUENCY)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.CPU_FREQUENCY]) {
            @for (filter_option of filter[Params.CPU_FREQUENCY]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} GHz ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.CPU_FREQUENCY)"
                               [checked]="checkIfSelected(filter_option[0], Params.CPU_FREQUENCY)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.CPU_FREQUENCY].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} GHz ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.CPU_FREQUENCY)"
                               [checked]="checkIfSelected(filter_option[0], Params.CPU_FREQUENCY)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.CPU_FREQUENCY].length > 5"
           (click)="expandOptions[Params.CPU_FREQUENCY] = !expandOptions[Params.CPU_FREQUENCY]">
            {{ expandOptions[Params.CPU_FREQUENCY] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Zintegrowany układ graficzny</h3>
        <a (click)="deleteFilters(Params.INTEGRATED_GRAPHICS_UNIT)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.INTEGRATED_GRAPHICS_UNIT]) {
            @for (filter_option of filter[Params.INTEGRATED_GRAPHICS_UNIT]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] != null ? filter_option[0] : "Brak" }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.INTEGRATED_GRAPHICS_UNIT)"
                               [checked]="checkIfSelected(filter_option[0], Params.INTEGRATED_GRAPHICS_UNIT)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.INTEGRATED_GRAPHICS_UNIT].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] != null ? filter_option[0] : "Brak" }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.INTEGRATED_GRAPHICS_UNIT)"
                               [checked]="checkIfSelected(filter_option[0], Params.INTEGRATED_GRAPHICS_UNIT)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.INTEGRATED_GRAPHICS_UNIT].length > 5"
           (click)="expandOptions[Params.INTEGRATED_GRAPHICS_UNIT] = !expandOptions[Params.INTEGRATED_GRAPHICS_UNIT]">
            {{ expandOptions[Params.INTEGRATED_GRAPHICS_UNIT] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Załączone chłodzenie</h3>
        <a (click)="deleteFilters(Params.COOLER_INCLUDED)">usuń</a>
    </div>
    <div class="filter_body">
        @for (filter_option of filter[Params.COOLER_INCLUDED]; track filter_option) {
            <div class="option_wrapper">
                <label class="option_checkbox_wrapper">
                    <p>{{ filter_option[0] ? "Tak" : "Nie" }} ({{ filter_option[1] }})</p>
                    <input type="radio" [name]="Params.COOLER_INCLUDED"
                           [value]="filter_option[0]"
                           (change)="toggleBooleanOption(filter_option[0], Params.COOLER_INCLUDED)"
                           [checked]="checkIfSelected(filter_option[0], Params.COOLER_INCLUDED)">
                    <span class="radio"></span>
                </label>
            </div>
        }
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Rodzaj opakowania</h3>
        <a (click)="deleteFilters(Params.PACKAGING_TYPE)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.PACKAGING_TYPE]) {
            @for (filter_option of filter[Params.PACKAGING_TYPE]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.PACKAGING_TYPE)"
                               [checked]="checkIfSelected(filter_option[0], Params.PACKAGING_TYPE)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.PACKAGING_TYPE].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.PACKAGING_TYPE)"
                               [checked]="checkIfSelected(filter_option[0], Params.PACKAGING_TYPE)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.PACKAGING_TYPE].length > 5"
           (click)="expandOptions[Params.PACKAGING_TYPE] = !expandOptions[Params.PACKAGING_TYPE]">{{ expandOptions[Params.PACKAGING_TYPE] ? "zwiń" : "rozwiń wszystko" }}</a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Odblokowany mnożnik</h3>
        <a (click)="deleteFilters(Params.CORE_UNLOCKED)">usuń</a>
    </div>
    <div class="filter_body">
        @for (filter_option of filter[Params.CORE_UNLOCKED]; track filter_option) {
            <div class="option_wrapper">
                <label class="option_checkbox_wrapper">
                    <p>{{ filter_option[0] ? "Tak" : "Nie" }} ({{ filter_option[1] }})</p>
                    <input type="radio" [name]="Params.CORE_UNLOCKED"
                           [value]="filter_option[0]"
                           (change)="toggleBooleanOption(filter_option[0], Params.CORE_UNLOCKED)"
                           [checked]="checkIfSelected(filter_option[0], Params.CORE_UNLOCKED)">
                    <span class="radio"></span>
                </label>
            </div>
        }
    </div>
</section>
