<section>
    <div class="filter_header">
        <h3>Gniazdo procesora</h3>
        <a (click)="deleteFilters(Params.SOCKET)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.SOCKET]) {
            @for (filter_option of filter[Params.SOCKET]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.SOCKET)"
                               [checked]="checkIfSelected(filter_option[0], Params.SOCKET)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.SOCKET].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.SOCKET)"
                               [checked]="checkIfSelected(filter_option[0], Params.SOCKET)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.SOCKET].length > 5"
           (click)="expandOptions[Params.SOCKET] = !expandOptions[Params.SOCKET]">{{ expandOptions[Params.SOCKET] ? "zwiń" : "rozwiń wszystko" }}</a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Liczba wentylatorów</h3>
        <a (click)="deleteFilters(Params.NUMBER_OF_FANS)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.NUMBER_OF_FANS]) {
            @for (filter_option of filter[Params.NUMBER_OF_FANS]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.NUMBER_OF_FANS)"
                               [checked]="checkIfSelected(filter_option[0], Params.NUMBER_OF_FANS)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.NUMBER_OF_FANS].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.NUMBER_OF_FANS)"
                               [checked]="checkIfSelected(filter_option[0], Params.NUMBER_OF_FANS)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.NUMBER_OF_FANS].length > 5"
           (click)="expandOptions[Params.NUMBER_OF_FANS] = !expandOptions[Params.NUMBER_OF_FANS]">
            {{ expandOptions[Params.NUMBER_OF_FANS] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Średnica wentylatorów</h3>
        <a (click)="deleteFilters(Params.FAN_DIAMETER)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.FAN_DIAMETER]) {
            @for (filter_option of filter[Params.FAN_DIAMETER]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }}mm ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.FAN_DIAMETER)"
                               [checked]="checkIfSelected(filter_option[0], Params.FAN_DIAMETER)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.FAN_DIAMETER].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }}mm ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.FAN_DIAMETER)"
                               [checked]="checkIfSelected(filter_option[0], Params.FAN_DIAMETER)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.FAN_DIAMETER].length > 5"
           (click)="expandOptions[Params.FAN_DIAMETER] = !expandOptions[Params.FAN_DIAMETER]">{{ expandOptions[Params.FAN_DIAMETER] ? "zwiń" : "rozwiń wszystko" }}</a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Liczba wentylatorów</h3>
        <a (click)="deleteFilters(Params.NOISE_LEVEL)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.NOISE_LEVEL]) {
            @for (filter_option of filter[Params.NOISE_LEVEL]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }}dBA ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.NOISE_LEVEL)"
                               [checked]="checkIfSelected(filter_option[0], Params.NOISE_LEVEL)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.NOISE_LEVEL].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }}dBA ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.NOISE_LEVEL)"
                               [checked]="checkIfSelected(filter_option[0], Params.NOISE_LEVEL)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.NOISE_LEVEL].length > 5"
           (click)="expandOptions[Params.NOISE_LEVEL] = !expandOptions[Params.NOISE_LEVEL]">
            {{ expandOptions[Params.NOISE_LEVEL] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Podświetlenie</h3>
        <a (click)="deleteFilters(Params.LIGHTNING)">usuń</a>
    </div>
    <div class="filter_body">
        @for (filter_option of filter[Params.LIGHTNING]; track filter_option) {
            <div class="option_wrapper">
                <label class="option_checkbox_wrapper">
                    <p>{{ filter_option[0] ? "Tak" : "Nie" }} ({{ filter_option[1] }})</p>
                    <input type="radio" [name]="Params.LIGHTNING"
                           [value]="filter_option[0]"
                           (change)="toggleBooleanOption(filter_option[0], Params.LIGHTNING)"
                           [checked]="checkIfSelected(filter_option[0], Params.LIGHTNING)">
                    <span class="radio"></span>
                </label>
            </div>
        }
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Rozmiar chłodnicy</h3>
        <a (click)="deleteFilters(Params.COOLER_SIZE)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.COOLER_SIZE]) {
            @for (filter_option of filter[Params.COOLER_SIZE]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }}mm ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.COOLER_SIZE)"
                               [checked]="checkIfSelected(filter_option[0], Params.COOLER_SIZE)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.COOLER_SIZE].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }}mm ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.COOLER_SIZE)"
                               [checked]="checkIfSelected(filter_option[0], Params.COOLER_SIZE)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.COOLER_SIZE].length > 5"
           (click)="expandOptions[Params.COOLER_SIZE] = !expandOptions[Params.COOLER_SIZE]">
            {{ expandOptions[Params.COOLER_SIZE] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>
