<section>
    <div class="filter_header">
        <h3>Kolor</h3>
        <a (click)="deleteFilters(Params.COLOR)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.COLOR]) {
            @for (filter_option of filter[Params.COLOR]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.COLOR)"
                               [checked]="checkIfSelected(filter_option[0], Params.COLOR)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.COLOR].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.COLOR)"
                               [checked]="checkIfSelected(filter_option[0], Params.COLOR)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.COLOR].length > 5"
           (click)="expandOptions[Params.COLOR] = !expandOptions[Params.COLOR]">
            {{ expandOptions[Params.COLOR] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Rodzaj obudowy</h3>
        <a (click)="deleteFilters(Params.CASE_TYPE)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.CASE_TYPE]) {
            @for (filter_option of filter[Params.CASE_TYPE]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.CASE_TYPE)"
                               [checked]="checkIfSelected(filter_option[0], Params.CASE_TYPE)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.CASE_TYPE].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.CASE_TYPE)"
                               [checked]="checkIfSelected(filter_option[0], Params.CASE_TYPE)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.CASE_TYPE].length > 5"
           (click)="expandOptions[Params.CASE_TYPE] = !expandOptions[Params.CASE_TYPE]">
            {{ expandOptions[Params.CASE_TYPE] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Kompatybilny standard płyty głównej</h3>
        <a (click)="deleteFilters(Params.MOTHERBOARD_STANDARD)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.MOTHERBOARD_STANDARD]) {
            @for (filter_option of filter[Params.MOTHERBOARD_STANDARD]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.MOTHERBOARD_STANDARD)"
                               [checked]="checkIfSelected(filter_option[0], Params.MOTHERBOARD_STANDARD)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.MOTHERBOARD_STANDARD].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.MOTHERBOARD_STANDARD)"
                               [checked]="checkIfSelected(filter_option[0], Params.MOTHERBOARD_STANDARD)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.MOTHERBOARD_STANDARD].length > 5"
           (click)="expandOptions[Params.MOTHERBOARD_STANDARD] = !expandOptions[Params.MOTHERBOARD_STANDARD]">
            {{ expandOptions[Params.MOTHERBOARD_STANDARD] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Szerokość obudowy (cm)</h3>
        <a (click)="clearWidth()">usuń</a>
    </div>
    <div class="filter_body" id="value_range">
        <input type="number" [id]="Params.WIDTH_MINIMUM" placeholder="Od" [min]="filter[Params.WIDTH_MINIMUM]"
               [max]="filter[Params.WIDTH_MINIMUM]"
               (change)="setWidth()">
        <p>――</p>
        <input type="number" [id]="Params.WIDTH_MAXIMUM" placeholder="Do" [min]="filter[Params.WIDTH_MAXIMUM]"
               [max]="filter[Params.WIDTH_MAXIMUM]"
               (change)="setWidth()">
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Wysokość obudowy (cm)</h3>
        <a (click)="clearHeight()">usuń</a>
    </div>
    <div class="filter_body" id="value_range">
        <input type="number" [id]="Params.HEIGHT_MINIMUM" placeholder="Od" [min]="filter[Params.HEIGHT_MINIMUM]"
               [max]="filter[Params.HEIGHT_MINIMUM]"
               (change)="setHeight()">
        <p>――</p>
        <input type="number" [id]="Params.HEIGHT_MAXIMUM" placeholder="Do" [min]="filter[Params.HEIGHT_MAXIMUM]"
               [max]="filter[Params.HEIGHT_MAXIMUM]"
               (change)="setHeight()">
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Głębokość obudowy (cm)</h3>
        <a (click)="clearDepth()">usuń</a>
    </div>
    <div class="filter_body" id="value_range">
        <input type="number" [id]="Params.DEPTH_MINIMUM" placeholder="Od" [min]="filter[Params.DEPTH_MINIMUM]"
               [max]="filter[Params.DEPTH_MINIMUM]"
               (change)="setDepth()">
        <p>――</p>
        <input type="number" [id]="Params.DEPTH_MAXIMUM" placeholder="Do" [min]="filter[Params.DEPTH_MAXIMUM]"
               [max]="filter[Params.DEPTH_MAXIMUM]"
               (change)="setDepth()">
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Okno</h3>
        <a (click)="deleteFilters(Params.HAS_WINDOW)">usuń</a>
    </div>
    <div class="filter_body">
        @for (filter_option of filter[Params.HAS_WINDOW]; track filter_option) {
            <div class="option_wrapper">
                <label class="option_checkbox_wrapper">
                    <p>{{ filter_option[0] ? "Tak" : "Nie" }} ({{ filter_option[1] }})</p>
                    <input type="radio" [name]="Params.HAS_WINDOW"
                           [value]="filter_option[0]"
                           (change)="toggleBooleanOption(filter_option[0], Params.HAS_WINDOW)"
                           [checked]="checkIfSelected(filter_option[0], Params.HAS_WINDOW)">
                    <span class="radio"></span>
                </label>
            </div>
        }
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Załączony zasilacz</h3>
        <a (click)="deleteFilters(Params.HAS_POWER_SUPPLY)">usuń</a>
    </div>
    <div class="filter_body">
        @for (filter_option of filter[Params.HAS_POWER_SUPPLY]; track filter_option) {
            <div class="option_wrapper">
                <label class="option_checkbox_wrapper">
                    <p>{{ filter_option[0] ? "Tak" : "Nie" }} ({{ filter_option[1] }})</p>
                    <input type="radio" [name]="Params.HAS_POWER_SUPPLY"
                           [value]="filter_option[0]"
                           (change)="toggleBooleanOption(filter_option[0], Params.HAS_POWER_SUPPLY)"
                           [checked]="checkIfSelected(filter_option[0], Params.HAS_POWER_SUPPLY)">
                    <span class="radio"></span>
                </label>
            </div>
        }
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Moc zasilacza</h3>
        <a (click)="deleteFilters(Params.PS_POWER)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.PS_POWER]) {
            @for (filter_option of filter[Params.PS_POWER]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ (filter_option[0] > 0) ? (filter_option[0] + 'W') : 'Brak' }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.PS_POWER)"
                               [checked]="checkIfSelected(filter_option[0], Params.PS_POWER)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.PS_POWER].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ (filter_option[0] > 0) ? (filter_option[0] + 'W') : 'Brak' }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.PS_POWER)"
                               [checked]="checkIfSelected(filter_option[0], Params.PS_POWER)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.PS_POWER].length > 5"
           (click)="expandOptions[Params.PS_POWER] = !expandOptions[Params.PS_POWER]">
            {{ expandOptions[Params.PS_POWER] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Maksymalna długość karty graficznej</h3>
        <a (click)="deleteFilters(Params.MAX_GPU_LENGTH)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.MAX_GPU_LENGTH]) {
            @for (filter_option of filter[Params.MAX_GPU_LENGTH]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} mm ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.MAX_GPU_LENGTH)"
                               [checked]="checkIfSelected(filter_option[0], Params.MAX_GPU_LENGTH)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.MAX_GPU_LENGTH].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} mm ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.MAX_GPU_LENGTH)"
                               [checked]="checkIfSelected(filter_option[0], Params.MAX_GPU_LENGTH)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.MAX_GPU_LENGTH].length > 5"
           (click)="expandOptions[Params.MAX_GPU_LENGTH] = !expandOptions[Params.MAX_GPU_LENGTH]">
            {{ expandOptions[Params.MAX_GPU_LENGTH] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Maksymalna wysokość chłodzenia procesora</h3>
        <a (click)="deleteFilters(Params.MAX_CPU_HEIGHT)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.MAX_CPU_HEIGHT]) {
            @for (filter_option of filter[Params.MAX_CPU_HEIGHT]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} mm ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.MAX_CPU_HEIGHT)"
                               [checked]="checkIfSelected(filter_option[0], Params.MAX_CPU_HEIGHT)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.MAX_CPU_HEIGHT].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} mm ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.MAX_CPU_HEIGHT)"
                               [checked]="checkIfSelected(filter_option[0], Params.MAX_CPU_HEIGHT)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.MAX_CPU_HEIGHT].length > 5"
           (click)="expandOptions[Params.MAX_CPU_HEIGHT] = !expandOptions[Params.MAX_CPU_HEIGHT]">{{ expandOptions[Params.MAX_CPU_HEIGHT] ? "zwiń" : "rozwiń wszystko" }}</a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Wentylatory na panelu przednim</h3>
        <a (click)="deleteFilters(Params.FRONT_FANS)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.FRONT_FANS]) {
            @for (filter_option of filter[Params.FRONT_FANS]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ (filter_option[0] != "") ? filter_option[0] : "Brak" }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.FRONT_FANS)"
                               [checked]="checkIfSelected(filter_option[0], Params.FRONT_FANS)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.FRONT_FANS].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ (filter_option[0] != "") ? filter_option[0] : "Brak" }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.FRONT_FANS)"
                               [checked]="checkIfSelected(filter_option[0], Params.FRONT_FANS)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.FRONT_FANS].length > 5"
           (click)="expandOptions[Params.FRONT_FANS] = !expandOptions[Params.FRONT_FANS]">
            {{ expandOptions[Params.FRONT_FANS] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Wentylatory na panelu tylnym</h3>
        <a (click)="deleteFilters(Params.BACK_FANS)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.BACK_FANS]) {
            @for (filter_option of filter[Params.BACK_FANS]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ (filter_option[0] != "") ? filter_option[0] : "Brak" }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.BACK_FANS)"
                               [checked]="checkIfSelected(filter_option[0], Params.BACK_FANS)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.BACK_FANS].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ (filter_option[0] != "") ? filter_option[0] : "Brak" }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.BACK_FANS)"
                               [checked]="checkIfSelected(filter_option[0], Params.BACK_FANS)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.BACK_FANS].length > 5"
           (click)="expandOptions[Params.BACK_FANS] = !expandOptions[Params.BACK_FANS]">
            {{ expandOptions[Params.BACK_FANS] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Wentylatory na panelu bocznym</h3>
        <a (click)="deleteFilters(Params.SIDE_FANS)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.SIDE_FANS]) {
            @for (filter_option of filter[Params.SIDE_FANS]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ (filter_option[0] != "") ? filter_option[0] : "Brak" }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.SIDE_FANS)"
                               [checked]="checkIfSelected(filter_option[0], Params.SIDE_FANS)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.SIDE_FANS].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ (filter_option[0] != "") ? filter_option[0] : "Brak" }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.SIDE_FANS)"
                               [checked]="checkIfSelected(filter_option[0], Params.SIDE_FANS)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.SIDE_FANS].length > 5"
           (click)="expandOptions[Params.SIDE_FANS] = !expandOptions[Params.SIDE_FANS]">
            {{ expandOptions[Params.SIDE_FANS] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Wentylatory na panelu dolnym</h3>
        <a (click)="deleteFilters(Params.BOTTOM_FANS)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.BOTTOM_FANS]) {
            @for (filter_option of filter[Params.BOTTOM_FANS]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ (filter_option[0] != "") ? filter_option[0] : "Brak" }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.BOTTOM_FANS)"
                               [checked]="checkIfSelected(filter_option[0], Params.BOTTOM_FANS)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.BOTTOM_FANS].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ (filter_option[0] != "") ? filter_option[0] : "Brak" }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.BOTTOM_FANS)"
                               [checked]="checkIfSelected(filter_option[0], Params.BOTTOM_FANS)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.BOTTOM_FANS].length > 5"
           (click)="expandOptions[Params.BOTTOM_FANS] = !expandOptions[Params.BOTTOM_FANS]">
            {{ expandOptions[Params.BOTTOM_FANS] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Wentylatory na panelu górnym</h3>
        <a (click)="deleteFilters(Params.TOP_FANS)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.TOP_FANS]) {
            @for (filter_option of filter[Params.TOP_FANS]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ (filter_option[0] != "") ? filter_option[0] : "Brak" }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.TOP_FANS)"
                               [checked]="checkIfSelected(filter_option[0], Params.TOP_FANS)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.TOP_FANS].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ (filter_option[0] != "") ? filter_option[0] : "Brak" }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.TOP_FANS)"
                               [checked]="checkIfSelected(filter_option[0], Params.TOP_FANS)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.TOP_FANS].length > 5"
           (click)="expandOptions[Params.TOP_FANS] = !expandOptions[Params.TOP_FANS]">
            {{ expandOptions[Params.TOP_FANS] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Liczba portów USB 2.0</h3>
        <a (click)="deleteFilters(Params.USB_20)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.USB_20]) {
            @for (filter_option of filter[Params.USB_20]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.USB_20)"
                               [checked]="checkIfSelected(filter_option[0], Params.USB_20)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.USB_20].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.USB_20)"
                               [checked]="checkIfSelected(filter_option[0], Params.USB_20)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.USB_20].length > 5"
           (click)="expandOptions[Params.USB_20] = !expandOptions[Params.USB_20]">
            {{ expandOptions[Params.USB_20] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Liczba portów USB 3.0</h3>
        <a (click)="deleteFilters(Params.USB_30)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.USB_30]) {
            @for (filter_option of filter[Params.USB_30]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.USB_30)"
                               [checked]="checkIfSelected(filter_option[0], Params.USB_30)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.USB_30].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.USB_30)"
                               [checked]="checkIfSelected(filter_option[0], Params.USB_30)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.USB_30].length > 5"
           (click)="expandOptions[Params.USB_30] = !expandOptions[Params.USB_30]">
            {{ expandOptions[Params.USB_30] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Liczba portów USB 3.1</h3>
        <a (click)="deleteFilters(Params.USB_31)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.USB_31]) {
            @for (filter_option of filter[Params.USB_31]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.USB_31)"
                               [checked]="checkIfSelected(filter_option[0], Params.USB_31)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.USB_31].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.USB_31)"
                               [checked]="checkIfSelected(filter_option[0], Params.USB_31)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.USB_31].length > 5"
           (click)="expandOptions[Params.USB_31] = !expandOptions[Params.USB_31]">
            {{ expandOptions[Params.USB_31] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Liczba portów USB 3.2</h3>
        <a (click)="deleteFilters(Params.USB_32)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.USB_32]) {
            @for (filter_option of filter[Params.USB_32]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.USB_32)"
                               [checked]="checkIfSelected(filter_option[0], Params.USB_32)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.USB_32].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.USB_32)"
                               [checked]="checkIfSelected(filter_option[0], Params.USB_32)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.USB_32].length > 5"
           (click)="expandOptions[Params.USB_32] = !expandOptions[Params.USB_32]">
            {{ expandOptions[Params.USB_32] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Liczba portów USB-C</h3>
        <a (click)="deleteFilters(Params.USB_C)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.USB_C]) {
            @for (filter_option of filter[Params.USB_C]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.USB_C)"
                               [checked]="checkIfSelected(filter_option[0], Params.USB_C)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.USB_C].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.USB_C)"
                               [checked]="checkIfSelected(filter_option[0], Params.USB_C)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.USB_C].length > 5"
           (click)="expandOptions[Params.USB_C] = !expandOptions[Params.USB_C]">
            {{ expandOptions[Params.USB_C] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>
