<div class="choice">
    <div class="air_cooler_option" (click)="emitChoice('AIR_COOLER')">
        <div class="image-wrapper">
            <img src="icons/config/air_cooler.png" alt="air_cooler">
        </div>
        <p>Chłodzenie powietrzem</p>
    </div>
    <h2>Wybierz rodzaj chłodzenia</h2>
    <div class="liquid_cooler_option" (click)="emitChoice('LIQUID_COOLER')">
        <p>Chłodzenie cieczą</p>
        <div class="image-wrapper">
            <img src="icons/config/lq_cooler.png" alt="air_cooler">
        </div>
    </div>
</div>
