<section>
    <div class="filter_header">
        <h3>Format dysku</h3>
        <a (click)="deleteFilters(Params.FORMAT)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.FORMAT]) {
            @for (filter_option of filter[Params.FORMAT]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.FORMAT)"
                               [checked]="checkIfSelected(filter_option[0], Params.FORMAT)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.FORMAT].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.FORMAT)"
                               [checked]="checkIfSelected(filter_option[0], Params.FORMAT)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.FORMAT].length > 5"
           (click)="expandOptions[Params.FORMAT] = !expandOptions[Params.FORMAT]">
            {{ expandOptions[Params.FORMAT] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Interfejs dysku</h3>
        <a (click)="deleteFilters(Params.INTERFACE)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.INTERFACE]) {
            @for (filter_option of filter[Params.INTERFACE]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.INTERFACE)"
                               [checked]="checkIfSelected(filter_option[0], Params.INTERFACE)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.INTERFACE].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.INTERFACE)"
                               [checked]="checkIfSelected(filter_option[0], Params.INTERFACE)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.INTERFACE].length > 5"
           (click)="expandOptions[Params.INTERFACE] = !expandOptions[Params.INTERFACE]">
            {{ expandOptions[Params.INTERFACE] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Pojemność dysku</h3>
        <a (click)="deleteFilters(Params.STORAGE)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.STORAGE]) {
            @for (filter_option of filter[Params.STORAGE]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ (filter_option[0] > 1024) ? (filter_option[0] / 1024) + 'TB' : filter_option[0] + 'GB' }}
                            ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.STORAGE)"
                               [checked]="checkIfSelected(filter_option[0], Params.STORAGE)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.STORAGE].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ (filter_option[0] > 1024) ? (filter_option[0] / 1024) + 'TB' : filter_option[0] + 'GB' }}
                            ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.STORAGE)"
                               [checked]="checkIfSelected(filter_option[0], Params.STORAGE)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.STORAGE].length > 5"
           (click)="expandOptions[Params.STORAGE] = !expandOptions[Params.STORAGE]">
            {{ expandOptions[Params.STORAGE] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Prędkość obrotowa</h3>
        <a (click)="deleteFilters(Params.ROTATIONAL_SPEED)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.ROTATIONAL_SPEED]) {
            @for (filter_option of filter[Params.ROTATIONAL_SPEED]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} obr./min ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.ROTATIONAL_SPEED)"
                               [checked]="checkIfSelected(filter_option[0], Params.ROTATIONAL_SPEED)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.ROTATIONAL_SPEED].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} obr./min ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.ROTATIONAL_SPEED)"
                               [checked]="checkIfSelected(filter_option[0], Params.ROTATIONAL_SPEED)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.ROTATIONAL_SPEED].length > 5"
           (click)="expandOptions[Params.ROTATIONAL_SPEED] = !expandOptions[Params.ROTATIONAL_SPEED]">
            {{ expandOptions[Params.ROTATIONAL_SPEED] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>
