<app-header></app-header>
<div class="content">
    <div class="category" (click)="goToCategory('CPU')">
        <div class="image-wrapper">
            <img src="product_category/cat_cpu.png" alt="Kategoria procesory">
        </div>
        <p class="category-name">Procesory</p>
    </div>
    <div class="category" (click)="goToCategory('MB')">
        <div class="image-wrapper">
            <img src="product_category/cat_mb.png" alt="Kategoria płyty główne">
        </div>
        <p class="category-name">Płyty główne</p>
    </div>
    <div class="category" (click)="goToCategory('RAM')">
        <div class="image-wrapper">
            <img src="product_category/cat_ram.png" alt="Kategoria pamięci operacyjne RAM">
        </div>
        <p class="category-name">Pamięci RAM</p>
    </div>
    <div class="category" (click)="goToCategory('GPU')">
        <div class="image-wrapper">
            <img src="product_category/cat_gpu.png" alt="Kategoria karty graficzne">
        </div>
        <p class="category-name">Karty graficzne</p>
    </div>
    <div class="category" (click)="goToCategory('PS')">
        <div class="image-wrapper">
            <img src="product_category/cat_ps.png" alt="Kategoria zasilacze komputerowe">
        </div>
        <p class="category-name">Zasilacze komputerowe</p>
    </div>
    <div class="category" (click)="goToCategory('CASE')">
        <div class="image-wrapper">
            <img src="product_category/cat_case.png" alt="Kategoria obudowy">
        </div>
        <p class="category-name">Obudowy</p>
    </div>
    <div class="category" (click)="goToCategory('SSD')">
        <div class="image-wrapper">
            <img src="product_category/cat_ssd.png" alt="Kategoria dyski SSD">
        </div>
        <p class="category-name">Dyski SSD</p>
    </div>
    <div class="category" (click)="goToCategory('HDD')">
        <div class="image-wrapper">
            <img src="product_category/cat_hdd.png" alt="Kategoria dyski HDD">
        </div>
        <p class="category-name">Dyski HDD</p>
    </div>
    <div class="category" (click)="goToCategory('LIQUID_COOLER')">
        <div class="image-wrapper">
            <img src="product_category/cat_lq_cooler.png" alt="Kategoria chłodzenie cieczą">
        </div>
        <p class="category-name">Chłodzenie cieczą</p>
    </div>
    <div class="category" (click)="goToCategory('AIR_COOLER')">
        <div class="image-wrapper">
            <img src="product_category/cat_air_cooler.png" alt="Kategoria chłodzenie powietrzem">
        </div>
        <p class="category-name">Chłodzenie powietrzem</p>
    </div>
</div>
