body {
  font-family: "Roboto", monospace;
  margin: 0;
  background-color: #151515;
  color: #dadada;
}

button:hover {
  cursor: pointer;
}

body.full-height-header .content {
  padding-top: 80px;
}
