<app-header></app-header>
<div class="content">
    <h2>Zapisane konfiguracje</h2>
    <div class="configuration">
        <div class="config" *ngFor="let config of configurations">
            <div class="config-header">
                <div class="options">
                    <a [href]="'/config/' + config.name" class="name-wrapper">
                        <h2>{{ config.name }}</h2>
                        <button type="button" class="edit-btn">
                            <img id="edit1" src="icons/edit.png" alt="edit-icon">
                            <img id="edit2" src="icons/edit-hover.png" alt="edit-icon">
                        </button>
                    </a>
                    <button type="button" class="remove-btn" (click)="removeConfig(config)">
                        <img id="trash1" src="icons/trash-white.png" alt="trash">
                        <img id="trash2" src="icons/trash-orange.png" alt="trash">
                    </button>
                </div>
                <div class="price-wrapper">
                    <p class="cost-summary">{{ (config.price).toFixed(2) }} zł</p>
                    <button type="button" class="add-btn" (click)="addToCart(config)">Dodaj do koszyka</button>
                </div>
            </div>
            <div class="product-wrapper">
                <a [href]="'/product?id=' + product.productEan" class="product" *ngFor="let product of config.products">
                    <div class="image-wrapper">
                        <img [src]="getImgSrc(product)" [alt]="product.productName">
                    </div>
                    <p>{{ product.productName }}</p>
                </a>
            </div>
        </div>
    </div>
</div>
