.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 2%;
}

.configuration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.config {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #242424;

    .config-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .options {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-self: left;
            width: 50%;
        }

        .remove-btn {
            height: 40px;
            border-radius: 40px;
            border: none;
            background-color: transparent;

            img {
                margin-left: 10px;
                transform: translate(0, -10%);
                max-width: 70%;
                max-height: 70%;
            }

            #trash1 {
                display: block;
            }

            #trash2 {
                display: none;
            }
        }

        .remove-btn:hover {
            #trash1 {
                display: none;
            }

            #trash2 {
                display: block;
            }
        }

        .name-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration: none;
            color: #dadada;

            button {
                height: 40px;
                border-radius: 40px;
                border: none;
                background-color: transparent;

                img {
                    margin-left: 10px;
                    transform: translate(0, -10%);
                    max-width: 70%;
                    max-height: 70%;
                }

                #edit1 {
                    display: block;
                }

                #edit2 {
                    display: none;
                }
            }
        }

        .name-wrapper:hover {
            cursor: pointer;
            color: #ff6600;
            font-weight: bold;

            button {
                #edit1 {
                    display: none;
                }

                #edit2 {
                    display: block;
                }
            }
        }

        .price-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: right;
            width: 50%;
            gap: 30px;

            button {
                width: 40%;
                font-size: 15px;
            }

            p {
                text-align: right;
                font-size: 25px;
            }
        }
    }

    .product-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        p {
            text-align: center;
            font-size: 12px;
        }
    }

    .product {
        display: flex;
        flex-direction: column;
        width: 10%;
        height: 200px;
        gap: 10px;
        align-items: center;
        color: #dadada;
        text-decoration: none;
    }

    .product:hover {
        cursor: pointer;
        transform: scale(1.05);
        color: #ff6600;
        transition: 0.2s;
        font-weight: bold;
    }

    .image-wrapper {
        width: 100px;
        height: 100px;
        aspect-ratio: 1/1;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 15px;

        img {
            max-width: 90%;
            max-height: 90%;
        }
    }

    .add-btn {
        width: 20%;
        height: 50px;
        border-radius: 50px;
        border: 2px solid #ff6600;
        color: #ff6600;
        font-size: 12px;
        transition: 0.2s;
        background-color: transparent;
    }

    .add-btn:hover {
        background-color: #ff6600;
        color: #151515;
        transition: 0.2s;
    }
}
