<section>
    <div class="filter_header">
        <h3>Gniazdo procesora</h3>
        <a (click)="deleteFilters('socket')">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions.socket) {
            @for (filter_option of filter.socket; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], 'socket')"
                               [checked]="checkIfSelected(filter_option[0], 'socket')">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter.socket.slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], 'socket')"
                               [checked]="checkIfSelected(filter_option[0], 'socket')">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter.socket.length > 5"
           (click)="expandOptions.socket = !expandOptions.socket">{{ expandOptions.socket ? "zwiń" : "rozwiń wszystko" }}</a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Liczba wentylatorów</h3>
        <a (click)="deleteFilters('fans')">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions.fans) {
            @for (filter_option of filter.fans; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], 'fans')"
                               [checked]="checkIfSelected(filter_option[0], 'fans')">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter.fans.slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], 'fans')"
                               [checked]="checkIfSelected(filter_option[0], 'fans')">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter.fans.length > 5"
           (click)="expandOptions.fans = !expandOptions.fans">{{ expandOptions.fans ? "zwiń" : "rozwiń wszystko" }}</a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Średnica wentylatorów</h3>
        <a (click)="deleteFilters('fan_diameter')">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions.fan_diameter) {
            @for (filter_option of filter.fan_diameter; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }}mm ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], 'fan_diameter')"
                               [checked]="checkIfSelected(filter_option[0], 'fan_diameter')">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter.fan_diameter.slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }}mm ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], 'fan_diameter')"
                               [checked]="checkIfSelected(filter_option[0], 'fan_diameter')">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter.fan_diameter.length > 5"
           (click)="expandOptions.fan_diameter = !expandOptions.fan_diameter">{{ expandOptions.fan_diameter ? "zwiń" : "rozwiń wszystko" }}</a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Liczba wentylatorów</h3>
        <a (click)="deleteFilters('noise_lvl')">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions.noise_lvl) {
            @for (filter_option of filter.noise_lvl; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }}dBA ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], 'noise_lvl')"
                               [checked]="checkIfSelected(filter_option[0], 'noise_lvl')">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter.noise_lvl.slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }}dBA ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], 'noise_lvl')"
                               [checked]="checkIfSelected(filter_option[0], 'noise_lvl')">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter.noise_lvl.length > 5"
           (click)="expandOptions.noise_lvl = !expandOptions.noise_lvl">{{ expandOptions.noise_lvl ? "zwiń" : "rozwiń wszystko" }}</a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Podświetlenie</h3>
        <a (click)="deleteFilters('light')">usuń</a>
    </div>
    <div class="filter_body">
        @for (filter_option of filter.light; track filter_option) {
            <div class="option_wrapper">
                <label class="option_checkbox_wrapper">
                    <p>{{ filter_option[0] ? "Tak" : "Nie" }} ({{ filter_option[1] }})</p>
                    <input type="radio"
                           [value]="filter_option[0]"
                           (change)="toggleBooleanOption(filter_option[0], 'light')"
                           [checked]="checkIfSelected(filter_option[0], 'light')">
                    <span class="radio"></span>
                </label>
            </div>
        }
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Szerokość układu chłodzenia (mm)</h3>
        <a (click)="clearWidth()">usuń</a>
    </div>
    <div class="filter_body" id="value_range">
        <input type="number" id="min_width" placeholder="Od" [min]="filter.min_width" [max]="filter.max_width"
               (change)="setWidth()">
        <p>――</p>
        <input type="number" id="max_width" placeholder="Do" [min]="filter.min_width" [max]="filter.max_width"
               (change)="setWidth()">
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Wysokość układu chłodzenia (mm)</h3>
        <a (click)="clearHeight()">usuń</a>
    </div>
    <div class="filter_body" id="value_range">
        <input type="number" id="min_height" placeholder="Od" [min]="filter.min_height" [max]="filter.max_height"
               (change)="setHeight()">
        <p>――</p>
        <input type="number" id="max_height" placeholder="Do" [min]="filter.min_height" [max]="filter.max_height"
               (change)="setHeight()">
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Głębokość układu chłodzenia (mm)</h3>
        <a (click)="clearDepth()">usuń</a>
    </div>
    <div class="filter_body" id="value_range">
        <input type="number" id="min_depth" placeholder="Od" [min]="filter.min_depth" [max]="filter.max_depth"
               (change)="setDepth()">
        <p>――</p>
        <input type="number" id="max_depth" placeholder="Do" [min]="filter.min_depth" [max]="filter.max_depth"
               (change)="setDepth()">
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Montaż pionowy</h3>
        <a (click)="deleteFilters('vert')">usuń</a>
    </div>
    <div class="filter_body">
        @for (filter_option of filter.vert; track filter_option) {
            <div class="option_wrapper">
                <label class="option_checkbox_wrapper">
                    <p>{{ filter_option[0] ? "Tak" : "Nie" }} ({{ filter_option[1] }})</p>
                    <input type="radio"
                           [value]="filter_option[0]"
                           (change)="toggleBooleanOption(filter_option[0], 'vert')"
                           [checked]="checkIfSelected(filter_option[0], 'vert')">
                    <span class="radio"></span>
                </label>
            </div>
        }
    </div>
</section>
