.auth {
    background-color: #151515;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#home-link {
    width: 20%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 50%;

    h4 {
        text-align: center;
    }
}

img {
    width: 70%;
    margin-bottom: 30px;
}

.form-element {
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    padding: 0;
    border-radius: 50px;
    background-color: transparent;
    text-align: center;
    font-size: 15px;
}

input {
    border: 2px solid #dadada;
    color: #dadada;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

button {
    border: 2px solid #ff6600;
    color: #ff6600;
    transition: 0.5s;
}

button:hover {
    background-color: #ff6600;
    color: #151515;
    transition: 0.5s;
}

a {
    color: #dadada;
    font-size: 15px;
    margin-bottom: 10px;
    text-decoration: none;
}

a:hover {
    color: #ff6600;
    cursor: pointer;
    text-decoration: underline;
}

.invalid {
    animation: shake 0.5s;
    text-align: center;
    font-size: 12px;
    border: 2px solid red;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(-10px);
    }
    75% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

input {
    border: 2px solid #dadada;
    color: #dadada;
}

.valid {
    border: 2px solid green;
    color: #dadada;
}
