<div class="content auth" [ngStyle]="{'background-image': 'url(' + background + ')' }">
    <a id="home-link" href="/">
        <img src="PC_Forge_Logo_White.png">
    </a>
    <form class="login-form" ngNativeValidate>
        <h4>Podaj adres email, na który wyślemy link resetujący hasło</h4>
        <input id="email" class="form-element" type="email" placeholder="email" required pattern="^.+@.+\..+$"
               (change)="removeClass($event)">
        <button type="button" class="form-element" (click)="sendEmail()">Wyślij</button>
        <a href="/login">Pamiętasz hasło? Zaloguj się</a>
    </form>
</div>
