<section>
    <div class="filter_header">
        <h3>Rodzaj pamięci</h3>
        <a (click)="deleteFilters(Params.RAM_TYPE)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.RAM_TYPE]) {
            @for (filter_option of filter[Params.RAM_TYPE]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.RAM_TYPE)"
                               [checked]="checkIfSelected(filter_option[0], Params.RAM_TYPE)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.RAM_TYPE].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.RAM_TYPE)"
                               [checked]="checkIfSelected(filter_option[0], Params.RAM_TYPE)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.RAM_TYPE].length > 5"
           (click)="expandOptions[Params.RAM_TYPE] = !expandOptions[Params.RAM_TYPE]">
            {{ expandOptions[Params.RAM_TYPE] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Pojemność łączna</h3>
        <a (click)="deleteFilters(Params.RAM_CAPACITY)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.RAM_CAPACITY]) {
            @for (filter_option of filter[Params.RAM_CAPACITY]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }}GB ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.RAM_CAPACITY)"
                               [checked]="checkIfSelected(filter_option[0], Params.RAM_CAPACITY)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.RAM_CAPACITY].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }}GB ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.RAM_CAPACITY)"
                               [checked]="checkIfSelected(filter_option[0], Params.RAM_CAPACITY)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.RAM_CAPACITY].length > 5"
           (click)="expandOptions[Params.RAM_CAPACITY] = !expandOptions[Params.RAM_CAPACITY]">
            {{ expandOptions[Params.RAM_CAPACITY] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Częstotliwość taktowania</h3>
        <a (click)="deleteFilters(Params.RAM_FREQUENCY)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.RAM_FREQUENCY]) {
            @for (filter_option of filter[Params.RAM_FREQUENCY]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }}MHz ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.RAM_FREQUENCY)"
                               [checked]="checkIfSelected(filter_option[0], Params.RAM_FREQUENCY)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.RAM_FREQUENCY].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }}MHz ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.RAM_FREQUENCY)"
                               [checked]="checkIfSelected(filter_option[0], Params.RAM_FREQUENCY)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.RAM_FREQUENCY].length > 5"
           (click)="expandOptions[Params.RAM_FREQUENCY] = !expandOptions[Params.RAM_FREQUENCY]">
            {{ expandOptions[Params.RAM_FREQUENCY] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Liczba modułów w zestawie</h3>
        <a (click)="deleteFilters(Params.NUMBER_OF_MODULES)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.NUMBER_OF_MODULES]) {
            @for (filter_option of filter[Params.NUMBER_OF_MODULES]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.NUMBER_OF_MODULES)"
                               [checked]="checkIfSelected(filter_option[0], Params.NUMBER_OF_MODULES)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.NUMBER_OF_MODULES].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.NUMBER_OF_MODULES)"
                               [checked]="checkIfSelected(filter_option[0], Params.NUMBER_OF_MODULES)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.NUMBER_OF_MODULES].length > 5"
           (click)="expandOptions[Params.NUMBER_OF_MODULES] = !expandOptions[Params.NUMBER_OF_MODULES]">
            {{ expandOptions[Params.NUMBER_OF_MODULES] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Opóźnienie zegara</h3>
        <a (click)="deleteFilters(Params.LATENCY)">usuń</a>
    </div>
    <div class="filter_body">
        @if (expandOptions[Params.LATENCY]) {
            @for (filter_option of filter[Params.LATENCY]; track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.LATENCY)"
                               [checked]="checkIfSelected(filter_option[0], Params.LATENCY)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        } @else {
            @for (filter_option of filter[Params.LATENCY].slice(0, 5); track filter_option) {
                <div class="option_wrapper">
                    <label class="option_checkbox_wrapper">
                        <p>{{ filter_option[0] }} ({{ filter_option[1] }})</p>
                        <input type="checkbox"
                               [value]="filter_option[0]"
                               (change)="toggleFilterOption(filter_option[0], Params.LATENCY)"
                               [checked]="checkIfSelected(filter_option[0], Params.LATENCY)">
                        <span class="checkbox"></span>
                    </label>
                </div>
            }
        }
        <a *ngIf="filter[Params.LATENCY].length > 5"
           (click)="expandOptions[Params.LATENCY] = !expandOptions[Params.LATENCY]">
            {{ expandOptions[Params.LATENCY] ? "zwiń" : "rozwiń wszystko" }}
        </a>
    </div>
</section>

<section>
    <div class="filter_header">
        <h3>Podświetlenie</h3>
        <a (click)="deleteFilters(Params.LIGHTNING)">usuń</a>
    </div>
    <div class="filter_body">
        @for (filter_option of filter.light; track filter_option) {
            <div class="option_wrapper">
                <label class="option_checkbox_wrapper">
                    <p>{{ filter_option[0] ? "Tak" : "Nie" }} ({{ filter_option[1] }})</p>
                    <input type="radio" [name]="Params.LIGHTNING"
                           [value]="filter_option[0]"
                           (change)="toggleBooleanOption(filter_option[0], Params.LIGHTNING)"
                           [checked]="checkIfSelected(filter_option[0], Params.LIGHTNING)">
                    <span class="radio"></span>
                </label>
            </div>
        }
    </div>
</section>
