<div class="product-in-cart">
    <a [href]="'/product?id=' + product.productEan" class="product-image">
        <img [src]="imgSrc" [alt]="product.productName">
    </a>
    <div class="product-info">
        <a [href]="'/product?id=' + product.productEan">{{ product.productName }}</a>
        <div class="quantity-counter">
            <button type="button" class="btn-remove" (click)="removeFromCart()">
                <p id="minus">-</p>
            </button>
            <p>liczba sztuk: {{ product.productQuantity }}</p>
            <button type="button" class="btn-add" (click)="addToCart()">
                <p id="plus">+</p>
            </button>
        </div>

    </div>
    <h3 class="product-price">{{ totalProductPrice() }} zł</h3>
    <button type="button" class="btn-clear" (click)="clearFromCart()">
        <img id="trash1" src="icons/trash-white.png" alt="trash">
        <img id="trash2" src="icons/trash-orange.png" alt="trash">
    </button>
</div>
